{% extends "../layout.html" %}
{% block content %}
  <div class="list">
    <table id="recent_matches">
      <tr>
        <th>Team 1</th>
        <th class="scores">Scores</th>
        <th>Team 2</th>
        <th>Winner</th>
        <th>Created</th>
      </tr>
      {% for match in matches %}
        <tr>
          <td>{{ match.player1 }}</td>
          <td class="scores">{{ match.score1 }} - {{ match.score2 }}</td>
          <td>{{ match.player2 }}</td>
          <td>{{ match.winner }}</td>
          <td>{{ match.creator.nickname }} at {{ match.played_at }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}