{% extends "../layout.html" %}
{% block content %}
  <div class="list">
    <table id="recent_matches">
      <tr>
        <th>Player</th>
        <th class="scores">Scores</th>
        <th>Player</th>
        <th>Winner</th>
        <th>Created</th>
      </tr>
      {% for match in matches %}
        <tr>
          <td>{% ifequal match.player1 email %}me{% else %}{{ match.player1 }}{% endifequal %}</td>
          <td class="scores">{{ match.score1 }} - {{ match.score2 }}</td>
          <td>{% ifequal match.player2 email %}me{% else %}{{ match.player2 }}{% endifequal %}</td>
          <td>{% ifequal match.winner email %}me{% else %}{{ match.winner }}{% endifequal %}</td>
          <td>{% ifequal match.creator.email email %}me{% else %}{{ match.creator.nickname }}{% endifequal %} at {{ match.played_at }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}