<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    {% block title %}
    <title>Score Keeper</title>
    {% endblock %}
    <link href="/css/reset.css" type="text/css" rel="Stylesheet" />
    <link href="/css/typography.css" type="text/css" rel="Stylesheet" />
    <link href="/css/grid.css" type="text/css" rel="Stylesheet" />
    <link href="/css/forms.css" type="text/css" rel="Stylesheet" />
    <link href="/css/screen.css" type="text/css" rel="Stylesheet" />
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      {% block script %}
      {% endblock %}

      <div id="hd">
        <div id="logo">
          <div id="userlinks">
            {% if logged_in %}
              Welcome, {{ nickname }}
              | <a href="/account">Profile</a>
              | <a href="{{ signout_url }}">Sign out</a>
            {% else %}
              <a href="{{ signin_url }}">Sign in or register</a>
            {% endif %}
          </div>
          <a href="/">
            <img src="images/logo.gif" width="241" height="38" alt="Logo">
          </a>
        </div>
        {% block header %}
        {% endblock %}
        <div id="menu">
          <ul>
            <li{% ifequal action 'dashboard' %} class="current"{% endifequal %}><a href="/">Dashboard</a></li>
            <li{% ifequal action 'matches' %} class="current"{% endifequal %}><a href="/matches">Matches</a></li>
          </ul>
        </div>
      </div>
      <div id="bd">
        {% block maincontent %}
          <div class="{{mainContentClass}}">
            {% if logged_in %}
              <div id="new_game">
                <form method='post' action='/matches'>
                  <label for="player1">Player:</label> <input type="text" name="player1" class="player" value="{{ email }}" />
                  <label for="score1">Score:</label> <input type="text" name="score1" class="score" /><br />
                  <label for="player2">Player:</label> <input type="text" name="player2" class="player" />
                  <label for="score2">Score:</label> <input type="text" name="score2" class="score" />
                  <input type="submit" value="Save game" />
                </form>
              </div>
            {% endif %}
            {% block content %}
            {% endblock %}
          </div>
        {% endblock %}
      </div>
      <div id="ft">
        {% block footer %}
          WARNING! This is a test project. Data entered here will be treated as a test. The database will be reset regularly.
        {% endblock %}
      </div>
    </div>
  </body>
</html>
